.frame {
  fill: none;
  stroke: #000;
}

.axis text  {
  font: 13px sans-serif;
  fill: #666;
}

.axis.degree text{
  fill:#999;
  font: 10px sans-serif;
}
.axis.degree rect{
  fill: white;
}
.axis line,
.axis circle {
  fill: none;
  stroke:#BBB;
  stroke-width: 1px;
  stroke-dasharray: 1,4;
}
.axis circle{
  stroke: #EEE;
  fill:none;
  stroke-dasharray: 25,5;
}

.day line{
  fill: none;
  stroke: #966;
  stroke-width: 1.2px;
}
.day circle{
  fill:rgba(0, 0, 255, 0.23);
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

text.title{
  font: 30px sans-serif;
  fill: #444;
}
text.subtitle{
  font: 14px sans-serif;
 fill: #444;
}